*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    border-radius: 20px;
    padding: 10px 25px;
    color: #555;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;    
}
.search button{
    border-radius: 50%;
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.temp{
    font-size: 80px;
    font-weight: 500;
}
.city{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 25px;
    margin-top: -6px;
}

.max_min{
    display: flex;
   flex-direction: column-reverse;

}
.both{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
}
.max_min p{
    font-size:25px ;
    margin-top: 20px;
    font-weight: 500;
}
.max_temp{
font-size: 23px;
}
.min_temp{
    font-size: 23px;
}